
# Edit the values, such they correspond to your event

# "official" planet name, with any spaces, for plot titles, e.g., HD 209458b
planetname   GJ436b


# Event:
planet       gj436b        # 6-letter code of transiting planet
ecltype      o             # s=secondary, p=primary  eclipse, o=orbit 
photchan     1             # Spitzer photometry channel
visit        1             # serial number of this Spitzer "visit"


# Tepfile location (starting from /home/...):
tepfile     /home/kevin/Documents/STScI/analyses/GJ436b/Spitzer/gj436bo11/run/GJ436b.tep

# Location of the data, relative to topdir (see below):
datadir      STScI/data/Spitzer/gj436bo11/


# Spitzer pipeline version:
sscver       S19.2.0


# AORs: Enter as many AOR key numbers as there are:
# In aortype indicate the type: 0=data, 1=precalibration, 2=postcal.
aorname     67689984    67690240    
aortype     0           0                    


# Permanently bad pixel mask (relative to: /home/esp01/data/.../cal/):
pmaskfile    nov14_ch1_bcd_pmask_subarray.fits                             


# Kurucz model for star (relative to: kuruczdir):
kuruczfile   fp00ak2odfnew-GJ436.pck


# PSF file, for aperture correction.
# If using IRAC, do nothing, anything you specify will be ignored.
# If using IRS or MIPS, specify a file or there is no PSF correction.
psffile      default


# A nod is a telescope motion.  A nod is usually the same as a
# position.  However, in MIPS, there are 2 nods and 7 mirror steps for
# 14 positions.
#
# instrument  IRAC    IRACSA         IRS   MIPS
# positions      1    1 or 9    1,2 or 4     14
# nodding        1    1 or 9    1,2 or 4      2

# star positions on chip
npos     1

# number of telescope motions per cycle
nnod     1


# BAD PIXELS:
# number of frames per bad pixel group:
szchunk  64

# bad pixel rejection threshholds
sigma    4.0  4.0


# Override variables:
# -------------------

# Reset right ascention and declination (same units as ra and dec)
ra        None
dec       None

# User rejected pixels:
# Set y,x pairs of bad pixel positions. e.g.: userrej  y1 x1 y2 x2 y3 x3 ...
userrej   None


# Variables we do NOT change:
# ---------------------------

# Convert from surface brightness (MJy/sr) to flux units (uJy/pix)?
fluxunits True

# project directory
topdir    /home/kevin/Documents/

# ancil directories relative to project dir
hordir     esp01/ancil/horizons/
kuruczdir  esp01/ancil/kurucz/
filtdir    esp01/ancil/filter/
psfdir     esp01/ancil/psf/
leapdir    POET-master/code/ancil/leapseconds/

# ancil files
#          irac                        irs              mips
filtfile   irac_trCHAN_2004-08-09.dat  bluePUtrans.txt  mips24-resp.txt
horfile    2018_spitzer.vec
