.DS_Store
__pycashe__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
*/*/*.pyc
*/*/*/*.pyc
*/*/*/*/*.pyc
*/*/*/*/*/*.pyc
*/*/*.py~
*/*/*/*/.py~
*/*/*/*/*.py~
*/*/*/*/*/*.py~
*/*.pcf~
*/*/*.sh~
lib/models_c/ext_func/
