
@
wavelet     bior5.5 #rbio3.9        #Type of wavelet(s) to use
threshold   bayesshrink             #Method(s) for computing wavelet threshold
numlvls     1 2 3 4                 #Number of levels to denoise

ncpu        10                      #Number of CPUs to use.
srcest      15.0,15.0               #Modify source estimate (brightest pixel)




